@import './colors.scss';

.expansion-btn {
  display: flex;
  align-items: center;
  color: $black-light;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  margin-top: 18px;
  margin-bottom: 18px;
}

.expansion-icon {
  color: $brand-primary;
  font-size: 18px;
}

.add-stop-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 12px;

  &--icon {
    fill: $brand-primary;
  }

  &--cta {
    margin-left: 12px;
  }
}

.return-to-start-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 12px;

  &--icon {
    fill: $brand-primary;
  }

  &--cta {
    margin-left: 12px;
  }
}